= simple_form_for @menu do |f|
  %h3 Meals
  #meals
    = f.simple_fields_for :meals do |meal|
      = render 'meal_fields', f: meal
    .links
      = link_to_add_association "#{t('actions.add')} #{t('activerecord.models.meal.one')}", f, :meals
  = f.submit
