= simple_form_for facade.menu do |f|
  %h3= t('activerecord.models.meal.other')

  #meals
    = f.simple_fields_for :meals do |meal|
      = render 'meal_fields', f: meal, facade: facade

    .links.mt-3
      = link_to_add_association t('.add_meal'), f, :meals, class: 'btn btn-primary',
        render_options: { locals: { facade: facade } }

      = f.button :submit, class: 'btn btn-primary'
