%h1= t('activerecord.models.menu.many')

%ul.nav.nav-tabs
  - @facade.menus.last(7).each do |menu|
    %li.nav-item
      = link_to l(menu.created_at, format: :menu), menu

%br/
%hr/
= link_to "#{t('actions.new')} #{t('activerecord.models.menu.one')}", new_menu_path

