%h1= t('activerecord.models.menu.many')

%ul.nav.nav-tabs
  - @facade.menus.last(7).each do |menu|
    %li.nav-item
      = link_to menu.name, menu

%br/
%hr/
- if current_user.lunch_admin?
  = link_to "#{t('actions.new')} #{t('activerecord.models.menu.one')}", new_menu_path

