%h1= t('activerecord.models.menu.many')

%ul.nav.nav-tabs
  - @menus.each do |menu|
    %li.nav-item
      = link_to "#{menu.created_at.strftime("%A %d %B")}", menu

%br/
%hr/
= link_to "#{t('actions.new')} #{t('activerecord.models.menu.one')}", new_menu_path

