%br/
.tab-content.clearfix
  %table
    %thead
      %tr
        %th= t('activerecord.attributes.item.name')
        %th= t('activerecord.attributes.item.price')
        %th{ colspan: "3" }
    %tbody
      %div.tab-pane{ id: "menu_#{@menu}" }
      - @menu.meals.each do |meal|
        %tr
          %td= meal.item.name
          %td= meal.price

%hr/
= link_to "#{t('actions.new')} #{t('activerecord.models.order.one')}", new_order_path(menu_id: @menu)
|
- if current_user.has_role?(:lunch_admin)
  = link_to t('actions.edit'), edit_menu_path(@menu)
  |
= link_to t('actions.back'), :back

%hr/
