%h1.text-center
  = @facade.name

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.item.name')
      %th= t('activerecord.attributes.item.price')
  %tbody
    - @facade.meals.each do |meal|
      %tr
        %td= meal.name
        %td= meal.price

.text-center
  - if @facade.available?
    %a.btn.btn-primary{ href: new_order_path(menu_id: menu), params: { menu_id: menu } }= t('.buttons.new_order')

  - if current_user.lunch_admin?
    %a.btn.btn-primary{ href:  edit_menu_path(menu) }= t('.buttons.edit')

  %a.btn.btn-secondary{ href: menus_path }= t('buttons.back')
