%ul.navbar-nav
  %li.nav-item
    %a.nav-link{ href: root_path }= t('layouts.header.home')
  %li.nav-item
    %a.nav-link{ href: orders_path }= t('layouts.header.orders')
  %li.nav-item
    %a.nav-link{ href: users_path }= t('layouts.header.users')
  %li.nav-item
    %a.nav-link{ href: items_path }= t('layouts.header.items')
  %li.nav-item
    %a.nav-link{ href: user_path(current_user.id) }= t('layouts.header.profile')
  %li.nav-item
    %a.nav-link{ href: destroy_user_session_path, rel: :nofollow, data: { method: :delete } }= t('buttons.auth.sign_out')
