%p#notice= notice
%h1 Users
%table
  %thead
    %tr
      %th Email
      %th{colspan: "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to t('actions.show'), user
        %td= link_to t('actions.edit'), edit_user_path(user)
        %td= link_to t('actions.destroy'), user, method: :delete, data: { confirm: t('questions.assurance') }
%br/
= link_to t('actions.new' 'activerecord.models.user.one'), new_user_path
