%h1.text-center
  = t('.title')

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.user.username')
      %th= t('activerecord.attributes.user.email')
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
