%h1.text-center
  = t('.title')

%div.content
  %table.table.table-striped
    %tr
      %th= t('activerecord.attributes.user.username')
      %th= t('activerecord.attributes.user.email')
    %tr
      %td= @user.username
      %td= @user.email

.text-center
  %a.btn.btn-primary{ href:  edit_user_path(@user) }= t('.buttons.edit')
  %a.btn.btn-secondary{ href: users_path }= t('.buttons.back')
