= simple_form_for @order do |f|
  %h3 Order
  = f.hidden_field :user_id, value: current_user.id
  #meals
    = f.simple_fields_for :order_meals do |order_meal|
      = render 'order_meal_fields', f: order_meal
    .links
      = link_to_add_association "#{t('actions.add')} #{t('activerecord.models.meal.one')}", f, :order_meals
  = f.submit

