%h1 Listing orders

%table
  %thead
    %tr
      %th User
      %th Ordered
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.user.email
        %td= order.created_at.strftime("%T %A %d %B")
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)

%br

= link_to 'New Order', new_order_path
