%h1= t('activerecord.models.order.many')

%table
  %thead
    %tr
      %th= t('activerecord.attributes.order.orderer')
      %th= t('activerecord.attributes.order.ordered')
  %tbody
    - @facade.orders.each do |order|
      %tr
        %td= order.user_email
        %td= order.ordered_time
        %td= link_to t('actions.show'), order

%hr/

