%h1.text-center
  = t('.title')

= render 'daily_orders', facade: @facade

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.order.orderer')
      %th= t('activerecord.attributes.order.ordered')
      %th= t('activerecord.attributes.order.price')
      %th= t('actions.title')
  %tbody
    - @facade.orders.each do |order|
      %tr
        %td= order.username
        %td= order.ordered_time
        %td= order.order_price
        %td= link_to t('buttons.show'), order
    %tr
      %td
      %th= t('activerecord.attributes.order.total')
      %th= @facade.orders_cost
