%p
  %b= t('activerecord.attributes.order.orderer')
  = @order.user_email
%table
  %thead
    %tr
      %th= t('activerecord.attributes.item.name')
      %th= t('activerecord.attributes.item.kind')
      %th= t('activerecord.attributes.item.price')
      %th{ colspan: "3" }
  %tbody
    - @order.order_meals.each do |order_meal|
      %tr
        %td= order_meal.meal_name
        %td= order_meal.meal_kind
        %td= order_meal.meal_price
%br/
= link_to t('actions.back'), menus_path
