%h1.text-center
  = t('.title', time_ordered: order.ordered_time)

%p
  %b= t('activerecord.attributes.order.orderer')
  = order.username

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.item.name')
      %th= t('activerecord.attributes.item.kind')
      %th= t('activerecord.attributes.item.price')
  %tbody
    - order.order_meals.each do |order_meal|
      %tr
        %td= order_meal.meal_name
        %td= order_meal.meal_kind
        %td= order_meal.meal_price
    %tr
      %td
      %th= t('activerecord.attributes.order.total')
      %td= order.order_price

.text-center
  %a.btn.btn-secondary{ href: menus_path }= t('buttons.back')
