%h1.text-center.page_headline
  = "#{t('actions.editing')} #{t('activerecord.models.item.one')}: #{@item.name}"

%div.content
  = render 'form', item: @item

%br
%div.page_footer
  = button_to t('actions.back'), :back, method: :get, class: 'btn btn-secondary'

