= render 'layouts/page_header', headline: "#{t('actions.editing')} #{t('activerecord.models.item.one')}: #{@item.name}"

%div.content
  = render 'form', item: @item

%br
= render 'layouts/page_footer'
