%p
  %strong= t('activerecord.attributes.item.name')
  = @item.name
%p
  %strong= t('activerecord.attributes.item.price')
  = @item.price
= link_to t('actions.edit'), edit_item_path(@item)
|
= link_to t('actions.back'), :back
