%h1.text-center
  = t('.title', item: @item.name)

%table.table.table-striped
  %thead
    %th= t('activerecord.attributes.item.name')
    %th= t('activerecord.attributes.item.kind')
    %th= t('activerecord.attributes.item.price')
  %tbody
    %td= @item.name
    %td= @item.kind
    %td= @item.price

.text-center
  %a.btn.btn-primary{ href:  edit_item_path(@item) }= t('buttons.edit')
  %a.btn.btn-secondary{ href: items_path }= t('buttons.back')
