!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title= t('title')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.container
      - unless notice.nil?
        %div.alert.alert-info= notice

      - unless alert.nil?
        %div.alert.alert-danger= alert

      - if user_signed_in?
        = button_to( t('actions.auth.sign_out'), destroy_user_session_path, method: :delete, class: 'button btn btn-primary')
      = yield
